{%extends 'base.html'%}

{% block content %}

<div class="container">
    {% for item in laptop %}
    <div class="row mt-5 d-flex justify-content-center text-center">
     <div class="col-sm-8">
        <div class="card">
         <div class="card-body">
            <div class="row">
                <div class="col-sm-3">
                    <img src="../static/image/{{item.image}}">
                </div>
                <div class="col-sm-9">
                  <ul class="list-unstyled text-start">
                    <li><h4 class="alert alert-secondary">{{item.itemsid.name}}</h4></li>
                    <li><strong class="p-4">{{item.price}}</strong></li>
                  </ul>
                  <div class=" p-4 d-flex justify-content-start">
                  <a href="{% url 'lapdetails' id=item.id %}"class="btn btn-dark">product details</a>
                </div>
                </div>
            </div>
         </div>
        </div>
     </div>
    </div>
    {% endfor %}
</div>
{% endblock %}